@import url("//fonts.googleapis.com/css?family=Overpass:300,400,600,700&display=swap");
@import url("bootstrap.min.css");
@import url("ionicons.min.css");
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #18214D;
    background: #eee;
    font-weight: 400;
}

.mtb15 {
    margin: 15px 0; 
}

::-webkit-scrollbar {
    background: transparent;
    width: 3px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.07);
    border: solid rgba(88, 88, 88, 0.12) 2px;
    border-radius: 5px;
}

thead tr th {
    padding: 8px 15px !important;
}

thead th {
    color: #758696;
    font-size: 13px;
    font-weight: 600;
    border: 0 !important;
}

tbody tr {
    color: #4a4a4a;
}

tbody tr:hover {
    background: #f6f8f9;
}

.input-group-text,
.form-control {
    border-radius: 5px;
}

.table tbody + tbody {
    border: none;
}
.green {
    color: #26de81;
}

.red {
    color: #ff231f;
}
.sign-out{
    background-color: #3e3e3e;
    color: #FFF;
    padding: 10px 27px 12px;
    margin: 5px 15px 0 0;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 17px;
    float: right;
    margin-right: -10px;
    margin-top: -48px;
    
}
.sign-out a:hover {
    color: #b1b1b1;
}
.table td,
.table th {
    border-top: 1px solid #f0f3fa;
}

.light-bb,
.input-group-text {
    background-color: #FFFFFF;
    border: 1px solid #e0e3eb;
}

#lightDepthChart {
    width: 100%;
    height: 349px;
}

.sm-gutters {
    padding-left: 20px;
    padding-right: 7.5px;  
}
.sm-gutters > .col,
.sm-gutters > [class*='col-'] {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
header nav a {
    color: #18214d;
}

header nav a:hover {
    color: #b1b1b1;
}

header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.market-pairs {
    background-color: #FFFFFF;
    border: 1px solid #e0e3eb;
    padding-top: 14px;
    border-radius: 2px;
}

.market-pairs .input-group {
    padding: 0 14px;
}

.market-pairs span {
    background: transparent;
}

.market-pairs input {
    border-color: #e0e3eb;
    border-left: 0;
    font-weight: 300;
}

.table {
    margin-bottom: 0;
}

.table td {
    font-size: 13px;
    padding: 10px 18px;
}
.market-pairs{
    box-shadow: -12px 12px 0;
}
.market-pairs tbody tr td i {
    color: #75869696;
}

.market-pairs thead tr th,
.market-pairs tbody tr td {
    cursor: pointer;
    font-weight: 400;
}

.market-pairs tbody {
    
    height: 800px;
    overflow-y: auto;
    display: block;
    
}

.no-fluid .market-pairs tbody {
    height: 815px;
}

.market-pairs table,
.market-pairs tr {
    width: 100%;
    table-layout: fixed;
}

.market-pairs tr {
    float: left;
    clear: both;
    overflow: hidden;
}

.market-pairs thead th,
.market-pairs tbody td {
    width: 65%;
}




